*{
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

html{
    height: 100%;
}

body{
    height: 100%;
    font-size: 15px;
    font-family: 'League Spartan', sans-serif;
    background-image:
        url('./images/bg-pattern-top-desktop.svg'),
        url('./images/bg-pattern-bottom-desktop.svg');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-size: 50%;
    background-attachment: fixed;
    display: inline;
}

.row1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 250px;
    margin-top: 60px;
    margin-left: 4%;
    margin-right: 4%;
}

.row2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 390px;
}

.flex1{
    width: 600px;
    height: 200px;
}

.flex2{
    width: 600px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nag{
    width: 50%;
    color: hsl(300, 43%, 22%);
}
.opis{
    margin-top: 5%;
    width: 70%;
    color: hsl(303, 10%, 53%);
}

.ocena1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 28%;
    background-color: hsl(300, 24%, 96%);
    border-radius: 10px;
    color: hsl(300, 43%, 22%);
    
}
.ocena1 img{
    height: 50%;
}

.ocena2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 28%;
    background-color: hsl(300, 24%, 96%);
    border-radius: 10px;
    color: hsl(300, 43%, 22%);
    transform: translateX(10%);
    
}
.ocena2 img{
    height: 50%;
}

.ocena3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 28%;
    background-color: hsl(300, 24%, 96%);
    border-radius: 10px;
    color: hsl(300, 43%, 22%);
    transform: translateX(20%);
}
.ocena3 img{
    height: 50%;
}

.rec1{
    width: 400px;
    height: 200px;
    border-radius: 10px;
    background-color: hsl(300, 43%, 22%);
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
}

.rec2{
    width: 400px;
    height: 200px;
    border-radius: 10px;
    background-color: hsl(300, 43%, 22%);
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
    transform: translateY(10%);
}
.rec3{
    width: 400px;
    height: 200px;
    border-radius: 10px;
    background-color: hsl(300, 43%, 22%);
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
    transform: translateY(20%);
}

.id{
    width: 40%;
    margin: 10% 10% 0%;
}

.row2 img{
    border-radius: 50%;
    margin: 10% 10% 0%;
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 1321px) {
    *{
        text-align: center;
    }
    .flex1{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .nag{
        width: 90%;
    }
    .opis{
        width: 95%;
    }
    .ocena1,
    .ocena2,
    .ocena3{
        transform: translateX(0%);
    }
    .rec1, .rec2, .rec3{
        transform: translateY(0%);
    }
  }
